body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none;
  color: inherit;
}

a.active{
  text-decoration: none;
  font-weight: bold;
  color: inherit;
  text-shadow: 1.5px 1px #000000;
}

:root{
  --blue1: #13005A;
  --blue2: #00337C;
  --blue3: #1C82AD;
  --light-green: #03C988;
}

.bg-blue1{
  background-color: var(--blue1);
}

.bg-blue2{
  background-color: var(--blue2);
}

.bg-blue3{
  background-color: #1c81ada2;
}

.bg-fadeWhite{
  background-color: rgba(245, 245, 245, 0.755);
}

.text-blue1{
  color: #13005A
}

.text-blue2{
  color: #00337C
}

.text-blue3{
  color: #1C82AD
}

.text-green{
  color: #03C988;
}

.text-red{
  color: #c90303;
}

.text-lightWhite{
  color: rgba(245, 245, 245, 0.685);
}

.shadow{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.finance{
  color: white;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.finance span{
  color: #03C988;
}

/* Edit balance buttons */
.hover-green :hover{
  background-color: #03C988;
}

.hover-red :hover{
  background-color: #c90303;
}