body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none;
  color: inherit;
}

a.active{
  text-decoration: none;
  font-weight: bold;
  color: inherit;
  text-shadow: 1.5px 1px #000000;
}

:root{
  --blue1: #13005A;
  --blue2: #00337C;
  --blue3: #1C82AD;
  --light-green: #03C988;
}

.bg-blue1{
  background-color: var(--blue1);
}

.bg-blue2{
  background-color: var(--blue2);
}

.bg-blue3{
  background-color: var(--blue3);
}

.finance{
  color: white;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.finance span{
  color: #03C988;
}